#placeNameP {
  font-size: 120%;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-right: 10%;
}

#horiz {
  display: flex;
  flex-direction: raw;
  margin-left: 15%;
  margin-right: 15%;
}

h2 {
  text-align: center;
}

#addBtn {
  position: "absolute";
  color: black;
  text-align: center;
  font-size: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: bold;
}

.card {
  background-color: white;
  padding: 5px;
  border: black;
  border-style: solid;
  border-width: medium;
  width: 40%;
  margin-right: 5%;

  position: absolute;
  left: 25%;
  top: 55%;
  transform: translate(-50%, -50%);
}

#map {
  width: 80%;
  margin-right: 15%;
  margin-left: 5%;
}

.split {
  display: flex;
  flex-direction: raw;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .split {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .card {
    background-color: white;
    padding: 5px;
    border: black;
    border-style: solid;
    border-width: medium;
    width: 40%;
    margin-right: 5%;
    position:fixed;
  }
}
