.error-404 {
    display: block;
    margin: auto;
    width: 40%;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 5px yellow;
    margin-top: 90px;
    margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
    .error-404 {
        width: 70%;
    }
}